/*  I tried to finish all my HTML before I worked on any of my CSS.
    I ordered my work like so: HTML, CSS, "Second Screen"
    Of the things in the checklist, I did the second screen last because I wanted to have an idea of I wanted my website to look before condensing it into a smaller screen
    I originally wanted to put more on this page but I couldn't think of something more to add.
*/
.space {
    padding:15px;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: [first] 70px [line2] 70% [last-line] 10%;
}

.name {
    color: rgb(3, 64, 129);
    grid-column: 1/span 3;
    text-align:center;
}

.content {
    grid-column: 1/span 2;
    padding:10px;
}

.quote {
    text-align:center;
    background-color:lightsteelblue;
    color: navy;
    padding: 2px;
}

.space img {
    width: 100%;
    object-fit: cover;
    grid-column: 3/span 1;
    border: 4px outset rgb(3, 64, 129);
}

h3 {
    background-color: lightsteelblue;
    color: midnightblue;
    padding-left: 5px;
    border-left: 5px solid steelblue;
}

.content p { 
    text-indent: 5%;
    color: rgb(46, 46, 46);
}

@media screen and (max-width: 768px) {
    .space {
        display: flex;
        flex-direction: column;
    }
}