h2 {
    color: rgb(3, 64, 129);
    text-align:center;
}

h3 {
    background-color: lightsteelblue;
    color: midnightblue;
    padding-left: 5px;
    border-left: 5px solid steelblue;
}

h4 {
    color: steelblue;
}

p, ul, li {
    color: rgb(46, 46, 46);
}
